body {
  background-color: bisque;
  font-family: "Butterfly Kids", cursive;
  font-weight: 400;
  font-style: normal;
}

.weather-app {
  background: burlywood;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 30px 50px rgb(from color r g b);
  border-radius: 10px;
  padding: 30px;
}
.search-form-input {
  background-color: blanchedalmond;
  border: none;
  border-radius: 6px;
  width: 80px;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: goldenrod;
  padding: 15px 20px;
  border: none;
  border-radius: 6px;
  color: aliceblue;
  margin-left: 5px;
}
header {
  border-bottom: 1px solid whitesmoke;
  padding: 0 0 30px 0;
}
footer {
  border-bottom: 1px solid whitesmoke;
  padding: 0 0 30px 0;
  text-align: center;
  font-size: 15px;
  color: peachpuff;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 30px 0;
}
.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 43px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 30px;
  color: palevioletred;
  font-weight: 500;
}

.weather-app-details strong {
  color: palevioletred;
}

.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 88px;
  font-weight: bold;
  line-height: 80px;
}

.weather-app-icon {
  font-size: 44px;
  width: 80px;
  height: 90px;
  margin-top: 22px;
}

.weather-app-unit {
  margin-top: 20px;
  font-size: 20px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.weather-forecast-date {
  text-align: center;
  color: black;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  font-size: 40px;
  text-align: center;
}

.weather-forecast-temperatures {
  text-align: center;
  color: blue;
  margin-top: 15px;
  justify-content: center;
}

.weather-forecast-temperature {
  padding: 0 0 10px;
}

.weather-forecast-temperature-max {
  font-size: 30px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  font-size: 16px;
  color: darkslategrey;
}
